body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.data {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

.data2 {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

.container {
	position: relative;
	width: 10px;
	height: 20vh;
}

.svg-container {
	position: relative;
	padding: 20px;
	border-radius: 0px;
}

.svg-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 212.1vh;
	height: 100%;
	background-color: #00456b;
	border-radius: inherit;
}

.blue-section {
	position: relative;
	padding: 20px;
	border-radius: 0px;
}

.blue-section::before {
	content: "";
	position: absolute;
	border-radius: inherit;
	top: 0%;
	left: 0%;
	height: 350%;
	background-color: #1167b1;
	width: 212.1vh;
}

.top-left-image {
	position: absolute;
	top: 0;
	left: 0;
}

.centered-h1 {
	padding-top: 90px;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.centered-h2 {
	padding-left: 20px;
	font-weight: normal;
	/* font-style: normal; */
}

.centered-h3 {
	padding-left: 20px;
}

.my-p {
	padding-left: 20px;
}

.right-details {
	display: flex;
	padding-right: 20px;
	padding-top: 18px;
}

.blue-button {
	background-color: #006fab;
	color: white;
	gap: 10px;
	padding: 11px, 16px, 11px, 16px;
	border-radius: 4px;
	width: 304px;
	height: 30px;
}

a {
	text-decoration: none;
}

.red-button {
	background-color: red;
	color: white;
	gap: 10px;
	margin: 45px 0;
	padding: 11px, 16px, 11px, 16px;
	border-radius: 4px;
	width: 80%;
}

.details-container {
	display: flex;
	justify-content: space-between;
}

.left-details {
	padding-left: 20px;
}

.quantity-input {
	width: 100px;
	height: 40px;
}

.quantity-label {
	font-weight: bold;
}

.amount-label {
	font-weight: bold;
	padding-left: 20px;
}

.total-amount {
	font-weight: bold;
	padding-left: 20px;
}

.unit-amount-label {
	font-weight: bold;
}

.centered-button {
	display: block;
	width: 306px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}

.PaymentReceived svg text {
	fill: white;
}

.pr {
	padding-top: 90px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.od {
	font-weight: normal;
	padding-left: 20px;
}

.pd {
	padding-left: 20px;
	font-weight: bold;
	grid-column: 20px;
}

.check-circle {
	width: 37px;
	height: 37px;
}

@media screen {
}
